@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  background-color: #090b1a;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

body .card {
  width: 327px;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  border-radius: 10px;
  overflow: hidden;
}

body .card * {
  margin: 0;
}

body .card .image {
  background-image: url("./images/image-header-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #aa5cdb;
  width: 327px;
  height: 240px;
}

body .card .about {
  width: 264px;
  text-align: center;
}

body .card .about h1 {
  color: white;
  font-size: 28px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
}

body .card .about h1 span {
  color: #aa5cdb;
}

body .card .about p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

body .card .stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card .stats .stat p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

body .card .stats .stat h5 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  body .card {
    width: 1110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .card .image {
    background-image: url("./images/image-header-desktop.jpg");
    width: 540px;
    height: 446px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body .card .content {
    width: 403px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10%;
  }
  body .card .content .about {
    width: 100%;
  }
  body .card .content .about h1 {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 0.5em;
  }
  body .card .content .about p {
    width: 374px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1em;
  }
  body .card .content .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */